VITE_APPWRITE_URL=" https://fra.cloud.appwrite.io/v1 "
VITE_APPWRITE_PROJECT_ID=" 6a33a5b3000f3a32c312 "
VITE_APPWRITE_DATABASE_ID=" 6a33a6ad002094c79ca3"
VITE_APPWRITE_COLLECTION_ID=" articles "
VITE_APPWRITE_BUCKET_ID="6a33a93300259ef45100 "